params {
    project = ""
}

process {
    executor = 'slurm'
    exitReadTimeout = 10.m

    errorStrategy = { 'ignore' }
    //errorStrategy = { task.attempt < 4 ? 'retry' : 'finish' }
    //maxRetries = 4

    clusterOptions = { "-A $params.project" }

    withName: sortClustersBySize {
        cpus = { 1 }
        time = { 10.m + 20.m * task.attempt }
    }
    withName: prequal {
        cpus = { 1 }
        time = { 1.h + 1.h * task.attempt }
    }
    withName: alignSequences {
        cpus = { 4 + 4 * task.attempt }
        time = { 2.h + 4.h * task.attempt }
    }
    withName: filterAlignmentSize{
        cpus = { 1 }
        time = { 10.m + 20.m * task.attempt }
    }
    withName: cluster2Tree {
        cpus = { 4 + 2 * task.attempt }
        time = { 12.h + 8.h * task.attempt }
    }
}
